.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 7.3%; /*92px*/
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .content {
    margin: 0 auto;
    padding-top: 20%; /*64px*/
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  /*768*/

  .content {
    margin: 0 auto;
    padding-top: 12%; /*90px*/
  }
}
