.content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .content {
    width: 90%; /*288px*/
    margin: 0 auto;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  /*768*/

  .content {
    width: 93.75%; /*720px*/
    margin: 0 auto;
  }
}
