.content__places-article {
  width: 984px;
  min-width: max-content;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(3, max-content);
  gap: 48px 40px;
  grid-template-areas:
    "title name-box"
    "image text"
    "button text";
}

.places-article__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: left;
  width: 460px;
  margin: 0;
  grid-area: title;
}

.places-article__img-box {
  width: 460px;
  height: 460px;
  box-shadow: 10px 10px 25px 0px #00000080;
  grid-area: image;
}

.places-article__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places-article__img:hover {
  opacity: 50%;
  cursor: url(../images/hover-icon-img.gif), default;
}

.places-article__link-button {
  width: 356.08px;
  height: 48px;
  text-decoration: none;
  grid-area: button;
}

.places-article__button {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2; /*21.78px*/
  color: #ffffff;
  text-align: center;
  width: fit-content;
  max-height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  padding: 13px 20px 13px 20px;
  border-radius: 4px 4px 4px 4px;
  border: none;
}

.places-article__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  cursor: url(../images/hover-icon-button.gif), default;
}

.places-article__name-box {
  width: 456px;
  grid-area: name-box;
  align-self: end;
}

.name-box__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2; /*14.52px*/
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaaaaa;
  margin: 0 0 8px;
}

.name-box__text {
  font-size: 18px;
  line-height: 1.22; /*22px*/
  text-align: left;
  margin: 0;
}

.places-article__text-box {
  grid-area: text;
}

.places-article__text {
  font-size: 18px;
  line-height: 1.63; /*29.34px*/
  text-align: left;
  width: 484px;
  margin: 0 0 25px;
}

.places-article__text:last-of-type {
  margin-bottom: 0;
}

.places-article__text-link {
  color: #ffffff;
}

.places-article__text-link:hover {
  color: #ffffff;
  cursor: url(../images/hover-icon-button.gif), default;
  opacity: 70%;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  /*320*/

  .content__places-article {
    width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    row-gap: 30px;
    grid-template-areas:
      "title"
      "name-box"
      "image"
      "text"
      "button";
    justify-items: center;
  }

  .places-article__title {
    font-size: 32px;
    line-height: 1.1; /*35px*/
    width: 288px;
  }

  .places-article__img-box {
    width: 320px;
    height: 320px;
  }

  .places-article__link-button {
    width: 288px;
  }

  .places-article__button {
    font-size: 14px;
    line-height: 1.2; /*16.94px*/
  }

  .places-article__name-box {
    width: 288px;
  }

  .places-article__text-box {
    width: 288px;
  }

  .places-article__text {
    width: 288px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  /*768*/

  .content__places-article {
    width: 720px;
    grid-template-columns: 320px 352px;
    gap: 48px 28px;
    justify-content: space-between;
  }

  .places-article__title {
    font-size: 42px;
    line-height: 1.1;
    width: 340px;
  }

  .places-article__img-box {
    width: 340px;
    height: 340px;
  }

  .places-article__link-button {
    width: 355px;
  }

  .places-article__button {
  }

  .places-article__name-box {
    width: 352px;
  }

  .places-article__text {
    font-size: 16px;
    line-height: 1.63; /*26.08px*/
    width: 352px;
  }
}
