.content__places {
  padding-top: 92px;
  margin: 0 auto;
  max-width: 984px;
  min-height: 3429px;
  display: grid;
  grid-template-columns: 1fr; /*984px*/
  grid-template-rows: repeat(4, max-content);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  row-gap: 80px;
}

.content__places-title-none {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .content__places {
    padding-top: 62px;
    max-width: 320px;
    min-height: 5917px;
    row-gap: 50px;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  /*768*/

  .content__places {
    padding-top: 88px;
    max-width: 720px;
    min-height: max-content; /*2952px;*/
    row-gap: 72px;
  }
}
