.content__places-article {
  width: 984px;
  min-width: max-content;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(3, max-content);
  gap: 48px 40px;
  grid-template-areas:
    "title name-box"
    "image text"
    "button text";
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .content__places-article {
    width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    row-gap: 30px;
    grid-template-areas:
      "title"
      "name-box"
      "image"
      "text"
      "button";
    justify-items: center;
  }
}

@media screen and (min-width: 545px) and (max-width: 739px) {
  /*redimensionamento dos botões*/

  .content__places-article {
    min-width: 100%;
    width: 100%;
    grid-template-columns: minmax(180.95px, 340px) minmax(187.34px, 352px);
    gap: 48px 28px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  /*768*/

  .content__places-article {
    min-width: 100%;
    width: 100%;
    grid-template-columns: minmax(180.95px, 340px) minmax(187.34px, 352px);
    gap: 48px 28px;
    justify-content: space-between;
  }
}
