.content__photo-grid {
  padding-top: 118px;
  margin: 0 auto;
  width: 93.75%; /*1184px*/
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*284px*/
  grid-template-rows: repeat(2, 1fr); /*213px*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 16px;
}

.content__photo-grid-title-none {
  display: none;
}

.content__photo-grid-img {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .content__photo-grid {
    width: 90%; /*288px*/
    padding-top: 38px;
    grid-template-columns: repeat(1, 1fr); /*288px*/
    grid-template-rows: repeat(8, 1fr); /*216px*/
    column-gap: 12px;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  /*768*/

  .content__photo-grid {
    width: 95.9%; /*720px*/
    padding-top: 64px;
    grid-template-columns: repeat(2, 1fr); /*352px*/
    grid-template-rows: repeat(4, 1fr); /*264px*/
  }
}
