.content__intro {
  max-width: 830px;
  align-self: flex-start;
  margin-left: 11.75%; /*148px*/
  display: flex;
  flex-direction: column;
}

.content__intro-title {
  max-width: 830px;
  margin-top: 11.1%; /*92px*/
  margin-bottom: 0;
  font-size: 54px;
  line-height: 1.05;
  text-rendering: optimizeLegibility;
}

.content__intro-blockquote {
  max-width: 738px;
  margin: 4.85% 0 0; /*40px*/
  font-size: 24px;
  line-height: 1.4;
}

.content__intro-cite {
  max-width: 732px;
  margin-top: 1.25%; /*10px*/
  margin-right: 0.75%; /*6px*/
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
}

.content__intro-text {
  max-width: 722px;
  margin: 3.9% 1.25% 0 0; /*32px 10px*/
  line-height: 1.65;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .content__intro {
    max-width: 288px;
    margin: 0;
  }

  .content__intro-title {
    max-width: 100%; /*288px*/
    margin-top: 25.2%; /*64px*/
    font-size: 32px;
    line-height: 35px;
  }

  .content__intro-blockquote {
    max-width: 100%; /*288px*/
    line-height: 30px;
    margin-top: 15.75%; /*40px*/
  }

  .content__intro-cite {
    max-width: 100%; /*288px*/
    margin-top: 3.95%; /*10px*/
    margin-right: 0;
  }

  .content__intro-text {
    max-width: 100%; /*288px*/
    margin-top: 12.6%; /*32px*/
    margin-right: 0;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  /*768*/

  .content__intro {
    max-width: 720px;
    margin: 0;
  }

  .content__intro-title {
    max-width: 707px;
    margin-top: 12.5%; /*90px*/
    font-size: 45px;
    line-height: 49px;
  }

  .content__intro-blockquote {
    max-width: 720px;
    margin-top: 7%; /*50px*/
  }

  .content__intro-cite {
    max-width: 720px;
    margin: 0;
  }

  .content__intro-text {
    max-width: 720px;
    margin-top: 4.45%; /*32px*/
    margin-right: 0;
  }
}
