.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__copyright {
  max-width: 166px;
  margin-top: 7.3%; /*92px*/
  margin-bottom: 1.95%; /*24px*/
  font-size: 14px;
  line-height: 1.15;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .footer__copyright {
    line-height: 1;
    margin-top: 20%; /*64px*/
    margin-bottom: 7.5%; /*24px*/
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  /*768*/

  .footer__copyright {
    margin-top: 11.75%; /*88px*/
    margin-bottom: 3.2%; /*24px*/
  }
}
