.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 62.50663834306957%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19.84375%;
  height: 5.94732370433305%;
  margin: 2.65625% 40.078125% 0;
}

.logo__image {
  margin-bottom: 8.763779527559055%;
  width: 32px;
  height: 32px;
}

.logo__text {
  margin: 0;
  font-weight: bold;
  line-height: 0.8;
  width: 100%;
  text-align: center;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 76.875%;
  min-height: 83.51741716227698%;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.lead__title {
  width: 73.17073170731707%;
  min-height: 20.34587995930824%;
  margin-top: 9.147%;
  margin-bottom: 0;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.04167;
  text-rendering: optimizeLegibility;
}

.lead__subtitle {
  width: 73.17073170731707%;
  min-height: 7.324516785350966%;
  margin-top: 3.253%;
  margin-bottom: 0;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.2;
}

.lead__image {
  width: 100%;
  min-height: 52.25148683092608%;
  margin-top: 6.505%;
}
