.header__img-logo {
  margin-bottom: 22.26px;
  width: 32px;
  height: 32px;
}

.header__img-text {
  width: 254.84px;
  height: 14.94px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .header__img-logo {
    margin-bottom: 16.53px;
    width: 23.69px;
    height: 23.77px;
  }

  .header__img-text {
    width: 188.62px;
    height: 11.1px;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  /*768*/

  .header__img-logo {
    margin-bottom: 20.98px;
    height: 30.17px;
  }

  .header__img-text {
    height: 14.09px;
  }
}
