.main {
  display: flex;
  flex-direction: column;
}

.intro {
  width: 64.84375%;
  height: 83.97212543554007%;
  align-self: flex-start;
  margin-left: 11.5625%;
  display: flex;
  flex-direction: column;
}

.intro__title {
  width: 100%;
  min-height: 24.06639004149378%;
  margin-top: 11.085%;
  margin-bottom: 0;
  font-size: 3.375rem;
  line-height: 1.074074;
}

.intro__blockquote {
  width: 88.91566265060241%;
  min-height: 14.10788381742739%;
  margin: 4.82% 0 0;
  font-size: 1.5rem;
  line-height: 1.416667;
}

.intro__cite {
  width: 88.19277108433735%;
  min-height: 7.053941908713693%;
  margin-top: 1.205%;
  margin-right: 0.723%;
  font-size: 1.5rem;
  line-height: 1.416667;
  text-align: right;
}

.intro__text {
  width: 86.98795180722892%;
  min-height: 37.75933609958506%;
  margin-top: 3.857%;
  margin-bottom: 0;
  line-height: 1.63;
}
