.main {
  display: flex;
  flex-direction: column;
}

.intro {
  width: 830px;
  min-height: 482px;
  align-self: flex-start;
  margin-left: 11.5625%;
  display: flex;
  flex-direction: column;
}

/*

1280 - 100
148 - x
x= 11,5625

1280 - 100
148 - 8,648648648648649

*/

.intro__title {
  width: 830px;
  min-height: 116px;
  margin-top: 92px;
  margin-bottom: 0;
  font-size: 3.375rem;
  line-height: 1.074074;
}

.intro__blockquote {
  width: 738px;
  min-height: 68px;
  margin: 40px 0 0;
  font-size: 1.5rem;
  line-height: 1.416667;
}

.intro__cite {
  width: 732px;
  min-height: 34px;
  margin-top: 10px;
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1.416667;
  text-align: right;
}

.intro__text {
  width: 722px;
  min-height: 182px;
  margin-top: 32px;
  margin-bottom: 0;
  line-height: 1.63;
}
