.main {
  display: flex;
  flex-direction: column;
}

.intro {
  width: 64.84375%;
  align-self: flex-start;
  margin-left: 11.5625%;
  display: flex;
  flex-direction: column;
}

.intro__title {
  max-width: 830px;
  margin-top: 11.085%;
  margin-bottom: 0;
  font-size: 3.375rem;
  line-height: 1.074074;
  text-rendering: optimizeLegibility;
}

.intro__blockquote {
  max-width: 738px;
  margin: 4.82% 0 0;
  font-size: 1.5rem;
  line-height: 1.416667;
}

.intro__cite {
  max-width: 732px;
  margin-top: 1.205%;
  margin-right: 0.723%;
  font-size: 1.5rem;
  line-height: 1.416667;
  text-align: right;
}

.intro__text {
  max-width: 722px;
  margin-top: 3.857%;
  margin-bottom: 0;
  line-height: 1.63;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .intro {
    width: 90%; /*288px*/
    margin: 0 auto;
  }

  .intro__title {
    max-width: 100%; /*288px*/
    margin-top: 22.225%; /*64px*/
    font-size: 32px;
    line-height: 35px;
  }

  .intro__blockquote {
    max-width: 100%; /*288px*/
    line-height: 30px;
    margin: 13.89% 0 0; /*40px*/
  }

  .intro__cite {
    max-width: 100%; /*288px*/
    margin-top: 3.4%; /*10px*/
  }

  .intro__text {
    max-width: 100%; /*288px*/
    margin-top: 11.115%; /*32px*/
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  /*768*/

  .intro {
    width: 93.75%; /*720px*/
    margin: 0 auto;
  }

  .intro__title {
    max-width: 92.05729166666667%; /*707px;*/
    margin-top: 11.71875%; /*90px*/
    font-size: 45px;
    line-height: 49px;
  }

  .intro__blockquote {
    max-width: 93.75%; /*720px*/
    margin: 6.510416666666667% 0 0; /*50px*/
  }

  .intro__cite {
    max-width: 93.75%; /*720px*/
    margin: 0;
  }

  .intro__text {
    max-width: 93.75%; /*720px*/
    margin-top: 4.547%; /*32px*/
  }
}
