.page__content {
  display: flex;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 92px;
}

.content__intro {
  max-width: 830px;
  align-self: flex-start;
  margin-left: 11.75%; /*148px*/
  display: flex;
  flex-direction: column;
}

.content__title {
  max-width: 830px;
  margin-bottom: 0;
  font-size: 54px;
  line-height: 1.05;
  text-rendering: optimizeLegibility;
}

.content__blockquote {
  max-width: 738px;
  margin: 40px 0 0;
  font-size: 24px;
  line-height: 1.4;
}

.content__cite {
  max-width: 732px;
  margin-top: 10px;
  margin-right: 6px;
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
}

.content__text {
  max-width: 722px;
  margin: 32px 10px 0 0;
  line-height: 1.65;
}

.content__photo-grid {
  padding-top: 118px;
  margin: 0 auto;
  width: 93.75%; /*1184px*/
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*284px*/
  grid-template-rows: repeat(2, 1fr); /*213px*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 16px;
}

.content__title_invisible {
  display: none;
}

.content__imgs {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.content__places {
  padding-top: 92px;
  margin: 0 auto;
  max-width: 984px;
  min-height: 3429px;
  display: grid;
  grid-template-columns: 1fr; /*984px*/
  grid-template-rows: repeat(4, max-content);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  row-gap: 80px;
}

.places__article-box {
  width: 984px;
  min-width: max-content;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(3, max-content);
  gap: 48px 40px;
  grid-template-areas:
    "title name-box"
    "image text"
    "button text";
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .page__content {
    padding-top: 64px;
  }

  .content__intro {
    max-width: 288px;
    margin: 0 auto;
  }

  .content__title {
    margin: 0;
    max-width: 100%; /*288px*/
    font-size: 32px;
    line-height: 35px;
  }

  .content__blockquote {
    max-width: 100%; /*288px*/
    line-height: 30px;
    margin-top: 40px;
  }

  .content__cite {
    max-width: 100%; /*288px*/
    margin-top: 10px;
    margin-right: 0;
  }

  .content__text {
    max-width: 100%; /*288px*/
    margin-top: 32px;
    margin-right: 0;
  }

  .content__photo-grid {
    width: 90%; /*288px*/
    padding-top: 38px;
    grid-template-columns: repeat(1, 1fr); /*288px*/
    grid-template-rows: repeat(8, 1fr); /*216px*/
    column-gap: 12px;
  }

  .content__places {
    padding-top: 62px;
    max-width: 320px;
    min-height: 5917px;
    row-gap: 50px;
  }

  .places__article-box {
    width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    row-gap: 30px;
    grid-template-areas:
      "title"
      "name-box"
      "image"
      "text"
      "button";
    justify-items: center;
  }
}

@media screen and (min-width: 545px) and (max-width: 739px) {
  /*redimensionamento dos botões*/

  .content__places {
    padding-top: 88px;
    max-width: 720px;
    min-height: max-content; /*2952px;*/
    row-gap: 72px;
  }

  .places__article-box {
    min-width: 100%;
    width: 100%;
    grid-template-columns: minmax(180.95px, 340px) minmax(187.34px, 352px);
    gap: 48px 28px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  /*768*/

  .page__content {
    padding-top: 90px;
  }

  .content__intro {
    max-width: 720px;
    margin: 0 auto;
  }

  .content__title {
    margin: 0;
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
  }

  .content__blockquote {
    max-width: 720px;
    margin-top: 50px;
  }

  .content__cite {
    max-width: 720px;
    margin: 0;
  }

  .content__text {
    max-width: 720px;
    margin-top: 32px;
    margin-right: 0;
  }

  .content__photo-grid {
    width: 95.9%; /*720px*/
    padding-top: 64px;
    grid-template-columns: repeat(2, 1fr); /*352px*/
    grid-template-rows: repeat(4, 1fr); /*264px*/
  }

  .content__places {
    padding-top: 88px;
    max-width: 720px;
    min-height: max-content; /*2952px;*/
    row-gap: 72px;
  }

  .places__article-box {
    min-width: 100%;
    width: 100%;
    grid-template-columns: minmax(180.95px, 340px) minmax(187.34px, 352px);
    gap: 48px 28px;
    justify-content: space-between;
  }
}
