/*.content__text-box > .content__text > .content__text-link e .content__text-cite*/

.content__text-link {
  color: #ffffff;
}

.content__text-link:hover {
  color: #ffffff;
  cursor: url(../../../../../images/hover-icon-button.gif), default;
  opacity: 70%;
}
