.page__footer {
  display: flex;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  /*320*/

  .page__footer {
    padding-top: 64px;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  /*768*/

  .page__footer {
    padding-top: 88px;
  }
}
